.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-fluid{
  margin-top: 90px;
}

/* products */
.ratings i {
  font-size: 16px;
  color: red
}

.strike-text {
  color: red;
  text-decoration: line-through
}

.product-image {
  width: 100%
}

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block
}

.spec-1 {
  color: #938787;
  font-size: 15px
}

h5 {
  font-weight: 400
}

.para {
  font-size: 16px
}

footer{
  margin-top: 200px;
}

.card-width{
  margin: 30px;
}

.flex-container{
  justify-content: space-around;
  margin: 0;
}

.profile-img {
  text-align: center;
}

  .profile-img img {
      width: 70%;
      height: 100%;
  }

  .profile-img .file {
      position: relative;
      overflow: hidden;
      margin-top: -20%;
      width: 70%;
      border: none;
      border-radius: 0;
      font-size: 15px;
      background: #212529b8;
  }

      .profile-img .file input {
          position: absolute;
          opacity: 0;
          right: 0;
          top: 0;
      }

.profile-head h5 {
  color: #333;
}

.profile-head h6 {
  color: #0062cc;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}

  .proile-rating span {
      color: #495057;
      font-size: 15px;
      font-weight: 600;
  }

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

  .profile-head .nav-tabs .nav-link {
      font-weight: 600;
      border: none;
  }

      .profile-head .nav-tabs .nav-link.active {
          border: none;
          border-bottom: 2px solid #0062cc;
      }

.profile-work {
  padding: 14%;
  margin-top: -15%;
}

  .profile-work p {
      font-size: 12px;
      color: #818182;
      font-weight: 600;
      margin-top: 10%;
  }

  .profile-work a {
      text-decoration: none;
      color: #495057;
      font-weight: 600;
      font-size: 14px;
  }

  .profile-work ul {
      list-style: none;
  }

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}